<div class="BodyB">
  <app-header></app-header>
  <div style="height: 130px;">

  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img/clubeciencias.jpeg" class="imgCont d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./img/WhatsApp Image 2023-10-19 at 18.38.59.jpeg" class="imgCont d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./img/WhatsApp Image 2023-10-19 at 18.38.55.jpeg" class="imgCont d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./img/WhatsApp Image 2023-10-19 at 18.38.55 (2).jpeg" class="imgCont d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./img/WhatsApp Image 2023-10-19 at 18.38.56 (1).jpeg" class="imgCont d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./img/WhatsApp Image 2023-10-19 at 18.39.01 (1).jpeg" class="imgCont d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./img/WhatsApp Image 2023-10-19 at 18.38.57.jpeg" class="imgCont d-block w-100 img-fluid" alt="...">
      </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 pdf">
        <img class="embed" src="./img/Banner.png" >
      </div>
    </div>
  </div>


  <app-footer></app-footer>
</div>
