
<section id="servicos" class="caixa">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row albuns">
            <div class="col-md-6">
              <img src="./assets/img/hands.png" class="img-fluid" alt="Mãos entrelaçadas">
            </div>
            <div class="col-md-6">
              <img src="./assets/img/common-1300520_640.png" class="img-fluid">
            </div>
          </div>
          <div class="row albuns">
            <div class="col-md-6">
              <img src="./assets/img/circle.png" class="img-fluid">
            </div>
            <div class="col-md-6">
              <img src="./assets/img/diversity1.jpg" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="col-md-6">

          <h2>Você sabe o que é racismo?</h2>


          <p>O Racismo é a crença em que uma raça, etnia ou certas características físicas sejam superiores a outras.</p>
          <p>O racismo pode se manifestar tanto em nível individual, como em nível institucional, através de políticas como a escravidão, o apartheid, o holocausto, o colonialismo, o imperialismo, dentre outros.</p>


          <p>Embora o racismo associe-se ao preconceito contra os negros, ele pode se manifestar contra qualquer raça ou etnia, sejam asiáticos, indígenas, etc.</p>

        </div>
      </div>
    </div>
  </section>


  <section id="recursos" class="caixa">
    <div class="container">
      <div class="row">
        <div class="col-md-4">

          <h3>Racismo Estrutural</h3>

          <p>O <strong> racismo estrutural</strong> é um problema que afeta a sociedade há séculos. Ele se refere às práticas discriminatórias que são enraizadas nas estruturas sociais, políticas e econômicas de um país. Esse tipo de racismo não é apenas uma questão individual, mas sim um problema sistêmico que afeta a vida de milhões de pessoas em todo o mundo. O racismo estrutural é perpetuado por meio de políticas públicas, leis e práticas que discriminam as pessoas com base em sua cor de pele, origem étnica, religião ou outras características. É importante reconhecer que o racismo estrutural não é apenas uma questão de tom de voz ou de palavras ofensivas, mas sim um problema estrutural que precisa ser abordado de forma sistemática e com políticas públicas voltadas para a igualdade e a justiça.
          </p>

        </div>
        <div class="col-md-8">
          <div class="row rotacionar">
            <div class="col-md-6">
              <img src="./assets/img/iphone1.png" class="img-fluid">
            </div>
            <div class="col-md-6">
              <img src="./assets/img/iphone2.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="recursos" class="caixa">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h3>Racismo Velado</h3>
          <p>O <strong> racismo velado</strong> é uma forma sutil de discriminação que muitas vezes passa despercebida. É quando alguém usa palavras ou comportamentos aparentemente inocentes, mas que possuem uma carga negativa em relação a uma determinada raça ou etnia. Pode ser um comentário sobre o cabelo ou a cor da pele, uma piada que reforça estereótipos, ou uma atitude que subestima as capacidades de alguém por causa de sua origem. O problema é que esse tipo de racismo é difícil de ser combatido, pois muitas vezes é disfarçado de brincadeira ou de elogio. É preciso estar atento ao tom de voz e à intenção por trás das palavras para identificar e denunciar esse tipo de comportamento.
          </p>

          <h3>Racismo Religioso</h3>
          <p>O<strong> racismo religioso</strong> focado na matriz africana é uma triste realidade em nossos tempos. Infelizmente, muitas pessoas ainda discriminam e desrespeitam as religiões de matriz africana, como o candomblé e a umbanda, por exemplo. Esse preconceito se manifesta de diversas formas, desde a ridicularização até a violência física. É importante destacar que essa discriminação não é apenas uma questão de intolerância religiosa, mas também está enraizada em um histórico de opressão e escravidão. É fundamental que a sociedade como um todo se conscientize sobre a importância de respeitar todas as religiões e culturas, e combater o racismo religioso em todas as suas formas.
          </p>

          <h3>Racismo Institucional</h3>
          <p>O<strong> racismo institucional</strong> é uma forma de discriminação que ocorre em instituições, organizações e sistemas, que perpetuam a desigualdade e o preconceito de forma sistemática. É um problema que afeta diversas áreas, como a justiça, saúde, educação e trabalho, e se manifesta de diferentes maneiras, como a falta de representatividade de minorias em cargos de liderança, a aplicação seletiva da lei e a negligência em relação às necessidades específicas de grupos marginalizados. É importante reconhecer e combater o racismo institucional, tanto por meio de políticas públicas quanto pela conscientização e mudança de atitudes individuais. A diversidade e a inclusão devem ser valorizadas em todas as esferas da sociedade, para que todos possam ter as mesmas oportunidades e serem tratados com igualdade e respeito.
          </p>

          <h3>Racismo Recreativo</h3>
            <p>O <strong> racismo recreativo</strong> é uma prática comum em muitos ambientes sociais, como festas, bares e até mesmo nas redes sociais. Essa forma de racismo é caracterizada por piadas, comentários e atitudes que menosprezam e ridicularizam pessoas de diferentes raças, culturas e etnias. Infelizmente, muitas pessoas ainda veem isso como algo inofensivo e engraçado, sem perceber o impacto que essas atitudes podem ter na vida de outras pessoas. É importante lembrar que o racismo recreativo pode perpetuar estereótipos prejudiciais e alimentar o preconceito e a discriminação. É fundamental que todos sejam conscientes e responsáveis em relação às suas palavras e ações, e que se esforcem para promover a igualdade e a inclusão em todos os aspectos da vida.
            </p>

            <section id="recursos" class="caixa1">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">

                    <h3 class="wte">Legislação de combate ao racismo</h3>

                    <p class="wte">"Por que a representatividade importa: a importância das cotas raciais nas universidades"
                      Neste post, podemos abordar a questão da representatividade e como ela é fundamental para combater o racismo. Podemos falar sobre a Lei nº 12.711/12, que instituiu as cotas raciais nas universidades, e como essa medida tem contribuído para aumentar a presença de estudantes negros e pardos no ensino superior. Também podemos destacar os desafios e críticas que essa política enfrenta.
                    </p>
                  </div>
                </div>
              </div>
            </section>
        </div>
      </div>
    </div>
  </section>
