:host{
	.BodyB{
		height: 100%;
		overflow-x: hidden;
		background: url(../../../assets/img/people.png) no-repeat;
		background-size: contain;
		background-attachment: fixed;
		background-color:#008B8B;
		font-family: Roboto;
}

}