
@use './app/pages/home/home.component.scss';


html, body{
	height: 100%;
	overflow-x: hidden
}

#home{
    height: 94%;
	overflow-x: hidden
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
