:host{

  .BodyB{
    background-image: url("./../../../assets/img/people.png");
    min-height: 70vh;
  }

  .menu{
    position: absolute;
    width: 200px;
    z-index: 5;
    margin-top: 10px;
    margin-left: 5px;
  }

  .list-group-flush li{
    display: flex;
    justify-content: center;
    background-color: rgb(255 255 255 / 0.3);
    backdrop-filter: blur(10px);
    margin-bottom: 5px;

    img{
      width: 70%;
    }
  }

  .dropdown{
    position: absolute;
    top: 23%;
    z-index: 5;
  }

  .sd{
    cursor: pointer;
  }
}
