<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-2 mb-2">
          <img src="../../../assets/img/diversity.png" width="142" height="140">
        </div>
        <div class="col-md-2">
          <h4>TRABALHO</h4>
          <h4 class="clube">CLUBE DE CIÊNCIAS</h4>
          <ul class="navbar-nav">
            <li><p>SILVA, Calebe</p></li>
            <li><p>PILLONI, Carlos</p></li>
            <li><p>FILHO, Rafael</p></li>
            <li><p>MORAIS, Pablo</p></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h4>PROFESSORES</h4>
          <ul class="navbar-nav">
            <li><p class="mb-2">ARAUJO, Michel</p></li>
            <li><p class="mb-2">SCHWAB, Pamela</p></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h4>ESCOLA</h4>
          <ul class="navbar-nav">
            <li><p>E.E. PROFº LUIZ VIVIANI FILHO</p></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <li>
              <a href="https://www.facebook.com/profile.php?id=100017279237319" target="_blank"><img src="../../../assets/img/facebook.png"></a>
            </li>
            <li>
              <a href="https://www.instagram.com/pei.luizviviani/" target="_blank"><img src="../../../assets/img/instagram.png"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
